/*GRID 20% - 40%*/
/*Grid 20*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	min-height: 1px;
	@include padding-new-grid;
}
.col-xs-20 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-20 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-20 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-20 {
		width: 20%;
		float: left;
	}
}
/*Grid 40*/
.col-xs-40,
.col-sm-40,
.col-md-40,
.col-lg-40 {
	min-height: 1px;
	@include padding-new-grid;
}
.col-xs-40 {
	width: 40%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-40 {
		width: 40%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-40 {
		width: 40%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-40 {
		width: 40%;
		float: left;
	}
}