/*VARIABLES*/
/*Page variables*/
$smoke-white: #f2efe5;
$hover-background: #ccc8b6;
$btn-background: #9a977a;
$contact-background: #e7e5d0;
$icon-hover: #3ac9e8;
$footer-gray: #aeaeae;
/*Media query variables*/
$break-laptop-l: 1440px;
$break-laptop: 1024px;
$break-tablet: 768px;
$break-mobile-l: 425px;

$break-1200: 1200px;